@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC&family=Noto+Serif+SC:wght@900&family=Ubuntu&display=swap');

$global-font-family: 'Ubuntu', 'Noto Sans SC', sans-serif;
$global-font-size: 1.1rem;
$global-line-height: 1.55;