@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC&family=Noto+Serif+SC&family=Ubuntu&display=swap');

$global-font-family: 'Ubuntu', 'Noto Sans SC', sans-serif;
$global-font-size: 1.0rem;
$global-line-height: 1.4;
