@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC&family=Noto+Serif+SC&family=Ubuntu&display=swap');

$global-font-family: 'Ubuntu', 'Noto Sans SC', sans-serif;
$global-font-size: 1.0rem;
$global-line-height: 1.7;
$global-background-color: #f5f5f5;
$header-background-color: rgba(248, 244, 232, 0.51);

$global-font-color-dark: #dadadb;

$global-link-color-dark: #dadadb;

$global-background-color-dark: #1d1e20;
